<h1>Listing contacts</h1>
 <%= link_to 'New contact', new_contact_path %>
 <%= link_to 'Show segments', segments_path %>
 <div style="background: #eee; border: 1px solid #333; padding: 10px;">
  <%= @queryWhere %>
 </div>
<form method="get">
  <strong>Filter contacts by: </strong>
  <select name="segmentation_id">
    <option value="">All contacts</option>
  <% @segments.each do |segment| %>
    <option value="<%= segment.id %>" <%= segment.id == @segmentation_id.to_i ? 'selected' : '' %>><%= segment.name %></option>
  <% end %>
  <input type="submit" value="Filter" />
  </select>
</form>
<table>
  <tr>
    <th>Name</th>
    <th>E-mail</th>
    <th>Age</th>
    <th>State</th>
    <th>Occupation</th>
    <th colspan="2"></th>
  </tr>
 
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.age %></td>
      <td><%= contact.state %></td>
      <td><%= contact.occupation %></td>
      <td><%= link_to 'Show', contact_path(contact) %></td>
      <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    </tr>
  <% end %>
</table>