<h1>Listing contacts</h1>
 <%= link_to 'New contact', new_contact_path %>
<table>
  <tr>
    <th>Name</th>
    <th>E-mail</th>
    <th>Age</th>
    <th>State</th>
    <th>Occupation</th>
    <th colspan="2"></th>
  </tr>
 
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.age %></td>
      <td><%= contact.state %></td>
      <td><%= contact.occupation %></td>
      <td><%= link_to 'Show', contact_path(contact) %></td>
      <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    </tr>
  <% end %>
</table>