
<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>
 
<p>
  <strong>E-mail:</strong>
  <%= @contact.email %>
</p>
 
<p>
  <strong>Age:</strong>
  <%= @contact.age %>
</p>
 
<p>
  <strong>State:</strong>
  <%= @contact.state %>
</p>
 
<p>
  <strong>Occupation:</strong>
  <%= @contact.occupation %>
</p>